body {
    margin-bottom: 80px; /* Ajustar según la altura de la barra de navegación */
}
.titulo{
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    /* width: 100%; */
}

.form{
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.curso-tabla{
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
}